files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "InstanceId": "${aws:InstanceId}"
          },
          "aggregation_dimensions" : [["AutoScalingGroupName"]],
          "metrics_collected": {
            "mem": {
              "measurement": [
                "mem_used_percent"
              ]
            },
            "disk": {
              "measurement": [
                "disk_used_percent"
              ],
              "resources": [
                "/"
              ]
            }
          }
        },
        "logs": {
            "logs_collected": {
                "files": {
                    "collect_list": [
                        {
                            "file_path": "/var/log/web.stdout.log",
                            "log_group_name": "/aws/elasticbeanstalk/EB_ENV_NAME_PLACEHOLDER/var/log/web.stdout.log",
                            "log_stream_name": "{instance_id}",
                            "retention_in_days": 30
                        }
                    ]
                }
            }
        }
      }
container_commands:
  replace_environment_name:
    command: |
      #!/bin/bash
      EB_ENV_NAME=$(/opt/elasticbeanstalk/bin/get-config container -k environment_name)
      sed -i "s/EB_ENV_NAME_PLACEHOLDER/$EB_ENV_NAME/" /opt/aws/amazon-cloudwatch-agent/bin/config.json
  start_cloudwatch_agent:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
